
@{
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<!-- Thanh điều hướng -->
<nav aria-label="breadcrumb" class="mt-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Bàn Làm Việc</a></li>
        <li class="breadcrumb-item"><a href="#">Thể Loại Tài Khoản</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tài Khoản</li>
    </ol>
</nav>
<!-- Nội dung chính -->
<ul class="row dasboard-list">
    <li class="col-lg-3 col-6">
        <a class="d-block" href="#">
            <img class="img-fluid" src="AdminAssets/Content/images/icons/home-icon.png" />
            <span>Trang Chủ</span>
        </a>
    </li>
    <li class="col-lg-3 col-6">
        <a class="d-block" href="#">
            <img class="img-fluid" src="AdminAssets/Content/images/icons/account-icon.png" />
            <span>Tài Khoản</span>
        </a>
    </li>
    <li class="col-lg-3 col-6">
        <a class="d-block" href="#">
            <img class="img-fluid" src="AdminAssets/Content/images/icons/article-icon.png" />
            <span>Tin Tức</span>
        </a>
    </li>
    <li class="col-lg-3 col-6">
        <a class="d-block" href="#">
            <img class="img-fluid" src="AdminAssets/Content/images/icons/product-icon.png" />
            <span>Sản Phẩm</span>
        </a>
    </li>
    <li class="col-lg-3 col-6">
        <a class="d-block" href="#">
            <img class="img-fluid" src="AdminAssets/Content/images/icons/picture-icon.png" />
            <span>Hình Ảnh</span>
        </a>
    </li>
    <li class="col-lg-3 col-6">
        <a class="d-block" href="#">
            <img class="img-fluid" src="AdminAssets/Content/images/icons/video-icon.png" />
            <span>Video</span>
        </a>
    </li>
    <li class="col-lg-3 col-6">
        <a class="d-block" href="#">
            <img class="img-fluid" src="AdminAssets/Content/images/icons/service-icon.png" />
            <span>Dịch Vụ</span>
        </a>
    </li>
    <li class="col-lg-3 col-6">
        <a class="d-block" href="#">
            <img class="img-fluid" src="AdminAssets/Content/images/icons/contact-icon.png" />
            <span>Liên Hệ</span>
        </a>
    </li>
</ul>


