/* PC */
@media (min-width: 1024px) {
}
/* TABLET & MOBILE */
@media (max-width: 1023px) {
    .hide {
        display: none !important;
    }
    .show {
        display: block !important;
    }
    .show-flex {
        display: flex !important;
    }
    .show-mobile {
        display: none !important;
    }
    @keyframes collapse-menu {
        from {
            transform: translate(100%, 0);
        }
        to {
            transform: translate(0, 0);
        }
    }
    @keyframes wave-animation {
        from {
            width: 170%;
            height: 170%;
            opacity: 0.5;
        }

        to {
            width: 190%;
            height: 190%;
            opacity: 0;
        }
    }
    #header .header__navbar {
        justify-content: space-between !important;
    }
    #header .header__navbar .menu-top .hamburger-inner {
        background-color: #fff;
    }
    #header .header__navbar .menu-top .hamburger-inner::before {
        background-color: #fff;
    }
    #header .header__navbar .menu-top .hamburger-inner::after {
        background-color: #fff;
    }
    #header .header__navbar .menu-toggle {
        position: absolute;
        margin-right: -310px;
        top: 100%;
        right: 0;
        padding: 20px;
        background-color: #211d70;
        transition: 0.4s;
    }
    .opened {
        margin-right: 0px !important;
    }
    #header .header__navbar .menu-toggle ul {
        display: block;
        padding: 0;
    }
    #header .header__navbar .menu-toggle ul li {
        display: block;
        padding: 14px 20px;
        margin-right: 120px;
    }
    #header .header__navbar .menu-toggle ul li a {
        color: #fff;
    }
    #content .owl-carousel .owl-prev {
        top: 40%;
    }
    #content .owl-carousel .owl-next {
        top: 40%;
    }
    #header .header__navbar {
        justify-content: flex-start;
        background-color: #211d70;
    }
    #header .header__navbar .logo {
        padding-left: 10px;
    }
    #header .header__navbar .logo svg {
        max-width: 120px;
    }
    #content .owl-carousel {
        padding-bottom: 128px;
    }
    #content .owl-carousel .title-product {
        top: initial;
        bottom: 0;
        left: initial;
        transform: initial;
        background-color: rgb(255 255 255 / 60%);
        padding: 15px 10px;
        width: 100%;
    }
    #content .owl-carousel .title-product h1 {
        font-size: 24px;
        line-height: 24px;
    }
    #content .discovery .title-project h1 {
        font-size: 30px;
        line-height: 45px;
    }
    #content .discovery .discovery-desc p {
        font-size: 20px;
    }
    #content .gallery .title-project h1 {
        font-size: 30px;
        line-height: 45px;
    }
    #content .siliconz-store .title-project h1 {
        font-size: 30px;
        line-height: 45px;
    }
    #content .owl-carousel .title-product p {
        font-size: 16px;
        padding-bottom: 0;
    }
    #content .owl-carousel .colt {
        width: 100%;
        float: none;
    }
    #content .play-video {
        left: 50%;
    }
    #content .play-video .loop-circle {
        width: 50px;
        height: 50px;
    }
    #content .play-video .loop-circle i {
        font-size: 20px;
    }
    #content .project .item-project {
        padding: 0;
    }
    #content .project .desc-project .title-project {
        padding: 0 10px;
    }
    #content .project .desc-project .title-project h1 {
        font-size: 30px;
    }
    /* #content .project .wrap {
            width: 450px;
        }  */
    #content .project .item-project .owl-nav {
        display: none;
    }

    #content .contact .wrap-sub h1 {
        font-size: 24px;
        line-height: 37px;
    }
    #content .contact .wrap-sub p {
        font-size: 16px;
    }
    #footer .main-footer {
        padding-top: 32px;
    }
    .title-project {
        width: 100%;
        padding: 10px;
    }
    .title-project h2 {
        font-size: 24px;

        line-height: 36px;
    }
    .title-project h3 {
        font-size: 16px;
        width: 95%;
        line-height: 24px;
    }
    .title-project span {
        font-size: 12px;
        line-height: 20px;
    }
    .title-product-other h1 {
        font-size: 24px;
    }
    .project-info-wrapper .product-grp .img-big {
        width: 100%;
    }
    .conttabpro .pjtab1 {
        width: 100%;
    }
    #content .lst-item-preorder {
        padding-bottom: 0;
    }
    .project-info-wrapper .product-grp .img-small {
        width: 100%;
    }
    .gripdetail {
        padding: 0 10px;
    }
    .wrap-title-project {
        flex-wrap: wrap;
    }
    .width-370{
        width: 370px;
    }
}

/* TABLET */
/* IPAD PRO */
@media only screen and (width: 1024px) {
    #content .owl-carousel .title-product {
        left: 6%;
    }
    .gripdetail {
        padding: 0 64px 0 10px;
    }
    .show-ipad {
        display: flex !important;
    }
    .hide-ipad {
        display: none !important;
    }
    .width-330 {
        width: 330px;
    }
    .project-info-wrapper .product-grp .img-big img {
        width: 90%;
    }
    .conttabpro .pjtab1 img {
        width: 95%;
    }
}
@media (min-width: 740px) and (max-width: 1023px) {
}
/* MOBILE */
@media (max-width: 739px) {
    .mt-mobile {
        margin-top: 72px;
    }
    #hide-mobile {
        display: none !important;
    }
    #show-mobile {
        display: block !important;
    }
    #show-mobile-flex {
        display: flex !important;;
    }
    #content .play-video {
        top: -25%;
    }
    #content .owl-carousel {
        padding: 0;
    }
    #content .owl-carousel .colt {
        height: 300px;
    }
    #content .project {
        padding: 24px 0;
        margin-top: -10px;
    }
    #content .wrap {
        margin:0 auto 20px;
    }
    #content .project .desc-project {
        justify-content: flex-start;
    }
    #content .project .wrap {
        width: 364px;
    }
    #content #owl-project-mobile .item {
        display: flex;
        justify-content: center;
    }
    #content .discovery {
        padding: 0;
    }
    #content .discovery .title-project {
        padding-left: 12px;
    }
    #content .discovery .one-third {
        width: 405px !important;
    }
    #content .discovery .two-third {
        width: 405px !important;
    }
    #footer .title-foot h3 {
        font-size: 16px !important;
        line-height: 24px;
    }
    #footer .main-footer .social ul li a i {
        margin: 0 8px 5px 0;
    }
    #footer .main-footer ul {
        padding: 0;
    }
    /*  */
    .pagination {
        padding-top: 12px;
    }
    .width-300 {
        width: 300px;
    }
}
