<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Bàn làm việc</title>
    <link href="/AdminAssets/Content/bootstrap.css" rel="stylesheet" />
    <link href="/AdminAssets/Content/fontawesome.pro.6.0.0/fontawesome.pro.6.0.0.css" rel="stylesheet" />
    <link href="/AdminAssets/Content/style.css" rel="stylesheet" />
    <link href="/AdminAssets/Content/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/AdminAssets/Content//hover-min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" type="image/x-icon" href="/adminassets/favicon.ico.png">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap" rel="stylesheet">
</head>


<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" class="bg-gradient-primary">
            <ul class="list-unstyled pt-1 components">
                <li class="active">
                    <a asp-route="AdminHome">
                        <i class="fa fa-dashboard"></i>
                        <span>Bàn Làm Việc</span>
                    </a>
                </li>
                <li class="border-bottom">
                    <a asp-route="AdminAccount">
                        <i class="fa fa-users"></i>
                        <span>Quản Lý Tài Khoản</span>
                    </a>
                </li>
                <li class="border-bottom">
                    <a href="#sub-product-menu" data-toggle="collapse" class="dropdown-toggle">
                        <i class="fa fa-laptop"></i>
                        <span>Quản Lý Sản Phẩm</span>
                    </a>
                    <ul class="collapse list-unstyled" id="sub-product-menu">
                        <li>
                            <a asp-route="AdminProductCategory">
                                <i class="fa-regular fa-list-tree"></i>
                                <span>Thể Loại Sản Phẩm</span>
                            </a>
                        </li>
                        <li>
                            <a asp-route="AdminProduct">
                                <i class="fa-sharp fa-solid fa-list-ol"></i>
                                <span>Danh Sách Sản Phẩm</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="border-bottom">
                    <a href="#sub-article-menu" data-toggle="collapse" class="dropdown-toggle">
                        <i class="fa-sharp fa-regular fa-newspaper"></i>
                        <span>Quản Lý Tin Tức</span>
                    </a>
                    <ul class="collapse list-unstyled" id="sub-article-menu">
                        <li>
                            <a asp-route="AdminArticleCategory">
                                <i class="fa-regular fa-list-tree"></i>
                                <span>Thể Loại Tin Tức</span>
                            </a>
                        </li>
                        <li>
                            <a asp-route="AdminArticle">
                                <i class="fa-sharp fa-solid fa-list-ol"></i>
                                <span>Danh Sách Tin Tức</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="border-bottom">
                    <a asp-route="AdminGalleries">
                        <i class="fa-duotone fa-image"></i>
                        <span>Quản Lý Hình Ảnh</span>
                    </a>
                </li>
                <li class="border-bottom">
                    <a href="#sub-video-menu" data-toggle="collapse" class="dropdown-toggle">
                        <i class="fa-duotone fa-photo-film"></i>
                        <span> Quản Lý Video</span>
                    </a>
                    <ul class="collapse list-unstyled" id="sub-video-menu">
                        <li>
                            <a href="video-category.html">
                                <i class="fa-regular fa-list-tree"></i>
                                <span> Thể Loại Video</span>
                            </a>
                        </li>
                        <li>
                            <a href="video-list.html">
                                <i class="fa-sharp fa-solid fa-list-ol"></i>
                                <span> Danh Sách Video</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="border-bottom">
                    <a href="#sub-contact-menu" data-toggle="collapse" class="dropdown-toggle">
                        <i class="fa fa-envelope"></i>
                        <span>Quản Lý Liên Hệ</span>
                    </a>
                    <ul class="collapse list-unstyled" id="sub-contact-menu">
                        <li>
                            <a href="contact-category.html">
                                <i class="fa-regular fa-list-tree"></i>
                                <span>Thể Loại Liên Hệ</span>
                            </a>
                        </li>
                        <li>
                            <a href="contact-list.html">
                                <i class="fa-sharp fa-solid fa-list-ol"></i>
                                <span>Danh Sách Liên Hệ</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="border-bottom">
                    <a asp-route="Home">
                        <i class="fa-duotone fa-image"></i>
                        <span>Về Silicon</span>
                    </a>
                </li>
            </ul>


        </nav>

        <!-- Page Content  -->
        <div id="content">
            <nav id="top-navbar" class="navbar shadow navbar-expand-lg navbar-light bg-light fixed-top">
                <div class="container-fluid">
                    <div class="name-operating d-flex align-items-center">
                        <div class="hamburger hamburger--arrow-r" id="sidebarCollapse">
                            <div class="hamburger-box">
                                <div class="hamburger-inner"></div>
                            </div>
                        </div>
                        <a asp-route="AdminHome">
                            ADMIN
                        </a>
                    </div>

                    <div class="float-right">
                        <div class="sidebar-header">
                            <div class="content d-flex">

                                <div class="notification d-flex align-items-center">
                                    <!-- bell -->
                                    <div class="btn-group mr-4">
                                        <a href="#" id="dropdownMenuClickable" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            <i class="fa-solid fa-bell text-secondary"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right"
                                            aria-labelledby="dropdownMenuClickable">
                                            <h7 class="dropdown-header">
                                                Alerts center
                                            </h7>
                                            <li>
                                                <a class="dropdown-item d-flex" href="#">
                                                    <div class="bg-gradient-primary icon-circle mr-3">
                                                        <i class="fa-solid fa-file-lines"></i>
                                                    </div>
                                                    <div>
                                                        <div class="time-alert text-secondary">
                                                            05/10/2023
                                                        </div>
                                                        <p class="title-notification">
                                                            Lorem ipsum dolor sit amet
                                                            consectetur adipisicing elit.
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex" href="#">
                                                    <div class="bg-gradient-success icon-circle mr-3">
                                                        <i class="fa-sharp fa-solid fa-circle-dollar-to-slot"></i>
                                                    </div>
                                                    <div>
                                                        <div class="time-alert text-secondary">
                                                            05/10/2023
                                                        </div>
                                                        <p class="title-notification">
                                                            Lorem ipsum dolor sit amet
                                                            consectetur adipisicing elit.
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex" href="#">
                                                    <div class="bg-gradient-warning icon-circle mr-3">
                                                        <i class="fa-regular fa-triangle-exclamation"></i>
                                                    </div>
                                                    <div>
                                                        <div class="time-alert text-secondary">
                                                            05/10/2023
                                                        </div>
                                                        <p class="title-notification">
                                                            Lorem ipsum dolor sit amet
                                                            consectetur adipisicing elit.
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex justify-content-center py-0" href="#">
                                                    Xem tất cả thông báo
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- message -->
                                    <div class="btn-group">
                                        <a href="#" id="dropdownMenuClickable" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            <i class="fa-solid fa-envelope text-secondary"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right"
                                            aria-labelledby="dropdownMenuClickable">
                                            <h7 class="dropdown-header">
                                                Message center
                                            </h7>
                                            <li>
                                                <a class="dropdown-item d-flex" href="#">
                                                    <div class="bg-gradient-primary icon-circle mr-3">
                                                        <img src="/Content/images/undraw_profile_2.svg" alt="">
                                                    </div>
                                                    <div>
                                                        <p class="title-notification">
                                                            Lorem ipsum dolor sit amet
                                                            consectetur adipisicing elit.
                                                        </p>
                                                        <div class="time-alert text-secondary d-flex">
                                                            <div class="user-alert mr-2">Admin-A.</div>
                                                            <span>02m</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex" href="#">
                                                    <div class="bg-gradient-success icon-circle mr-3">
                                                        <img src="/Content/images/undraw_profile_2.svg" alt="">

                                                    </div>
                                                    <div>
                                                        <p class="title-notification">
                                                            Lorem ipsum dolor sit amet
                                                            consectetur adipisicing elit.
                                                        </p>
                                                        <div class="time-alert text-secondary d-flex">
                                                            <div class="user-alert mr-2">Admin-A.</div>
                                                            <span>02m</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex" href="#">
                                                    <div class="bg-gradient-warning icon-circle mr-3">
                                                        <img src="/Content/images/undraw_profile_2.svg" alt="">

                                                    </div>
                                                    <div>
                                                        <p class="title-notification">
                                                            Lorem ipsum dolor sit amet
                                                            consectetur adipisicing elit.
                                                        </p>
                                                        <div class="time-alert text-secondary d-flex">
                                                            <div class="user-alert mr-2">Admin-A.</div>
                                                            <span>02d</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex justify-content-center py-0" href="#">
                                                    Xem tất cả tin nhắn
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <div class="info px-3 d-flex align-items-center border-left"
                                         id="dropdownMenuClickable" data-bs-toggle="dropdown" aria-expanded="false">
                                        <a href="#">
                                            @Context.Session.GetString("Fullname")
                                        </a>
                                        <div class="avatar">
                                            <img class="rounded-circle mx-2" src="@Context.Session.GetString("Avatar")" />
                                        </div>
                                    </div>
                                    <ul class="dropdown-menu dropdown-menu-right"
                                        aria-labelledby="dropdownMenuClickable">
                                        <li>
                                            <a class="dropdown-item" asp-route="AdminProfile">
                                                <i class="fa-solid fa-user pr-1"></i>
                                                <span>Cá nhân</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <i class="fa-duotone fa-gear pr-1"></i>
                                                <span>Cài đặt</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item border-bottom" href="#">
                                                <i class="fa-duotone fa-list pr-1"></i>
                                                <span>Activity log</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#" data-toggle="modal"
                                               data-target="#logoutModal">
                                                <i class="fa-sharp fa-solid pr-1 fa-right-from-bracket"></i>
                                                <span>Đăng xuất</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Logout Modal-->
                <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Đăng xuất ?</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Chọn "Đăng xuất" bên dưới nếu bạn sẵn sàng kết thúc phiên hiện tại của mình.
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Huỷ</button>
                                <form asp-route="AdminLogout" method="post">
                                    <a href="#" class="btn btn-primary" onclick="$(this).closest('form').submit()">

                                        Thoát
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <main>

                @RenderBody()
            </main>

            <footer>
                Copyright &copy; 2022 Admin Control Panel
            </footer>
        </div>
    </div>
    <section id="script">
        <script src="/AdminAssets/Scripts/bootstrap.bundle.js"></script>
        <script src="/AdminAssets/Scripts/jquery-3.0.0.js"></script>
        <script src="/AdminAssets/Scripts/bootstrap.js"></script>
        <script src="/AdminAssets/Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/AdminAssets/Scripts/jquery.nicescroll.js"></script>
        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
        <script src="/AdminAssets/Scripts/owl.carousel.js"></script>
        <script src="/AdminAssets/Scripts/script.js"></script>
    </section>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>